body {
  font-family: 'Source Sans Pro';
}

.templates { display: none; }
.hide { display: none; }

@keyframes highlight {
  40% {
     box-shadow: 0 0 25px rgba(81, 203, 238, 1);
  }
}

.highlight {
  animation: highlight 1.5s;
}

svg,
img.svg {
  width: 1.563em;
  vertical-align: middle;
  margin-right: 0.3em;
}


/*****************************************************************************/
/** navbar **/

.navbar {
  background-color: rgb(52, 151, 214);
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
  line-height: 2.5em;
  z-index: 1;
}

.navbar nav {
  position: relative;
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
}

.navbar a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin-left: 2.5em;
  margin-right: 0;
  padding-bottom: 12px;
}

.showlogin .navbar a.login {
  line-height: 2em;
  border-bottom: 5px solid #CCC;
}

.showschedule .navbar a.profiles {
  line-height: 2em;
  border-bottom: 5px solid #CCC;
}

.showboard .navbar a.board {
  line-height: 2em;
  border-bottom: 5px solid #CCC;
}

.navbar a.login,
.admin .navbar a.logout {
  display: inline;
}

.admin .navbar a.login,
.navbar a.logout {
  display: none;
}

/*****************************************************************************/
/** header **/
header {
  margin-top: 2.5em;
  margin-bottom: 3em;
}

header img {
  width: 100px;
}

header img.logo {
  width: 8em;
  color: #0397D6;
}

header input.search {
  height: 2em;
  float: right;
  width: 400px;
}

header .profile {
  margin-top: 1em;
  margin-bottom: 0;
  width: 100%;
  font-size: 1em;
}

header .profile td {
  padding: 0;
  border: none;
  text-align: right;
}

header .profile .note {
  line-height: normal;
}

header .profile .image {
  width: 1px;
}

header .profile img {
  height: 4em;
  width: 4em;
  margin-left: 0.5em;
  border-radius: 50%;
}

header div {
  text-transform: uppercase;
}
header .note {
  color: grey;
}

header .name {
  color: rgb(162,205,232);
}

header div.thisweek {
  float: right;
}

/*****************************************************************************/
/** popup **/
.popup {
  position: absolute;
  top: 5%;
  left: 50%;
}

.popup .cross {
  position: absolute;
  right: 0.7em;
  top: 0.7em;
  color: white;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  width: 1.25em;
}

.popup .action {
  text-align: center;
  margin-bottom: 1em;
}

.popup .action .button {
  width: 15.909em;
  box-sizing: initial;
  background-color: rgb(52, 151, 214);
  color: white;
  font-size: 1em;
  height: 2em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.popup .button svg,
.popup .button .svg {
  vertical-align: middle;
}

.popup .button svg path {
  fill: white;
}

.popup .section {
  padding-left: 3.125em;
  padding-right: 3.125em;
  margin-top: 1em;
}

.schedule .action,
.login .action {
  margin: 0;
  padding-right: 12px;
}
/*
.card .action a {
  display: none;
}
*/

/*****************************************************************************/
/** commentcard **/
.newcard .question textarea,
.newcard .why textarea {
  width: 100%;
}


/*****************************************************************************/
/** commentcard **/
.popup .commentcard {
  color: #999;
}

.popup .popup-content {
  height: 32em;
}

.popup .popup-content .update {
  text-align: right;
}

.popup .commentcard .title {
  position: relative;
}

.popup .commentcard .sections {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}

.popup .commentcard .comments {
  display: inline-block;
  width: 39%;
  background-color: rgb(237,244,247);
  max-height: none;
  float: right;
  height: 100%;
  overflow-y: scroll;
}

.popup .commentcard .datecreated,
.popup .commentcard .datecreated label,
.popup .commentcard .datecreated span {
  display: inline-block;
  text-transform: capitalize;
}

.popup .commentcard .datecreated {
  position: absolute;
  right: 1em;
  font-size: 0.9em;
}

.popup .commentcard .popup-titlebar {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.popup .commentcard .popup-titlebar div {
  margin-left: 3.125em;
}

.popup .commentcard textarea {
  width: 100%;
}

.popup .commentcard .comments .section {
  padding-left: 1.875em;
  padding-right: 1.875em;
}

.popup .commentcard .comments .section button {
  width: 100%;
}

.popup .commentcard .comments .section textarea {
  font-size: 0.9em;
}

.popup .commentcard .button {
  background-color: #0397D6;
  color: white;
}

.popup .commentcard .section .previouscomment {
  border-top: 1px solid #AAA;
  font-size: 0.9em;
}


/*****************************************************************************/
/** searchresult **/

.searchresult {
  width: 400px;
  border: 1px solid #CCC;
  box-shadow: 3px 2px 5px #888888;
  position: absolute;
  background-color: white;
  top: 6.5em;
  z-index: 1;
  display: none;
}

.showsearch .searchresult {
  display: block;
}


.searchresult .title {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: rgb(52, 151, 214);
  color: white;
}

.searchresult .cross {
  position: absolute;
  right: 0.7em;
  top: 1em;
  color: white;
  cursor: pointer;
  text-decoration: none;
}


.searchresult ul {
  margin-left: 1em;
  margin-top: 0.3em;
  height: 300px;
  overflow-y: scroll;
}

.searchresult li {
  margin-bottom: 1em;
}

.searchresult li {
  list-style: none;
}

/*****************************************************************************/
/** popup card **/
.card {
  width: 800px;
  left: -400px;
  border: 1px solid #CCC;
  box-shadow: 3px 2px 5px #888888;
  position: relative;
  background-color: white;
}

.card .section label {
  font-size: 1em;
  color: #999;
}

.card .section .input {
  min-height: 3em;
}

.card .titlebar,
.card .popup-titlebar {
  padding-top: 9px;
  padding-bottom: 9px;
  text-transform: uppercase;
  background-color: rgb(52, 151, 214);
  color: white;
  margin-top: 0;
}

/* Card Comments */
.card .comments {
  max-height: 200px;
  overflow-y: scroll;
}

.card .comments .comment .createdon {
  text-align: right;
  color: #AAA;
}
.card .comments .comment .input {
  border-top: 1px solid #EEE;
  color: #AAA;
}

.card .comments {
  position: relative;
}
.editnewcard .comments a,
.newcard .comments a {
  display: none;
}

.card .comments .addcomment {
  display: none;
  margin-bottom: 1em;
}

.newcomment .comments .addcomment,
.newcomment .comments textarea {
  display: inherit;
}

.newcomment .action .updatecomment,
.newcomment .action .cancelcomment {
  display: inline-block;
}

.newcomment .action .edit {
  display: none;
}

.newcomment a.new,
.newcomment .action a.close {
  display: none;
}

.displaycard .action .close,
.displaycard .action .newcomment {
  display: inline-block;
}

.admin .displaycard .action .edit {
  display: inline-block;
}

.card .comments a {
  font-weight: bold;
  text-decoration: none;
}

.card .comments a.new {
  position: absolute;
  top: 0;
  right: 0;
}

.card .comments a.add {
  position: absolute;
  right: 0;
}



/** popup card **/
.card2 {
  width: 500px;
  left: -250px;
  border: 1px solid #CCC;
  box-shadow: 3px 2px 5px #888888;
  position: relative;
  background-color: white;
}

.card2 .section {
  margin: 12px;
}

.card2 .section label {
  text-transform: uppercase;
  font-weight: bold;
}

.card2 .section .input {
  min-height: 3em;
}

.card2 .title {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.card2 .section textarea {
  display: none;
  width: 100%;
  min-height: 5em;
}


/* Card Comments */
.card2 .comments {
  max-height: 200px;
  overflow-y: scroll;
}

.card2 .comments .comment .createdon {
  text-align: right;
  color: #AAA;
}
.card2 .comments .comment .input {
  border-top: 1px solid #EEE;
  color: #AAA;
}

.card2 .comments {
  position: relative;
}
.editnewcard .comments a,
.newcard .comments a {
  display: none;
}

.card2 .comments .addcomment {
  display: none;
  margin-bottom: 1em;
}

.newcomment .comments .addcomment,
.newcomment .comments textarea {
  display: inherit;
}

.newcomment .action .updatecomment,
.newcomment .action .cancelcomment {
  display: inline-block;
}

.newcomment .action .edit {
  display: none;
}

.newcomment a.new,
.newcomment .action a.close {
  display: none;
}

.displaycard .action .close,
.displaycard .action .newcomment {
  display: inline-block;
}

.admin .displaycard .action .edit {
  display: inline-block;
}

.admin .displaycard .action .newcomment {
  display: none;
}

.card2 .comments a {
  font-weight: bold;
  text-decoration: none;
}

.card2 .comments a.new {
  position: absolute;
  top: 0;
  right: 0;
}

.card2 .comments a.add {
  position: absolute;
  right: 0;
}


.editcard .lookingintoit textarea,
.editcard .whatwedid textarea,
.editcard .action .update,
.editcard .action .cancel {
  display: inline-block;
}

.editcard .lookingintoit div.input,
.editcard .whatwedid div.input {
  display: none;
}

.newcard .question textarea,
.newcard .why textarea,
.newcard .action .create,
.newcard .action .cancel {
  display: inline-block;
}

.newcard .question div.input,
.newcard .why div.input  {
  display: none;
}

.editnewcard .question textarea,
.editnewcard .why textarea,
.editnewcard .action .update,
.editnewcard .action .cancel {
  display: inline-block;
}

.editnewcard .question div.input,
.editnewcard .why div.input  {
  display: none;
}




/*****************************************************************************/
/** popup colors **/

.blue .title,
.blue .action,
.board .blue .colorbar
{
  background-color: rgb(52, 151, 214);
  color: white;
}
.thisweek .blue .name,
.schedule ul .blue .name {
  color: rgb(52, 151, 214);
}
.blue .section label {
  color: rgb(52, 151, 214);
}

/*****************************************************************************/
/** popup schedule **/

.schedule {
  width: 800px;
  left: -400px;
  border: 1px solid #CCC;
  box-shadow: 3px 2px 5px #888888;
  position: relative;
  background-color: white;
}

.schedule .title {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: rgb(52, 151, 214);
  color: white;
}

.schedule .action {
  background-color: rgb(52, 151, 214);
}

.schedule div.popup-content {
  margin: 1em;
  height: 30em;
  overflow-y: scroll;
}

.schedule table tr {
  display: inline-block;
  margin: 1em;
  text-align:center;
}

.schedule table tr img {
  height: 128px;
  border-radius: 50%;
  border: 2px solid rgb(52, 151, 214);
}

.schedule table tr .name {
  color: rgb(52, 151, 214);
}


.schedule table tr .date-range {
  color: #AAA;
}

/*****************************************************************************/
/** popup login **/

.popup .login {
  width: 600px;
  left: -300px;
  border: 1px solid #CCC;
  box-shadow: 3px 2px 5px #888888;
  position: relative;
  background-color: white;
}

.popup .login .title {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: rgb(52, 151, 214);
  color: white;
}

.popup .login .details {
  margin-left: 190px;
  margin-top: 1em;
  text-align: left;
}

.popup .login .note {
}

.popup .login .button {
  padding: 0;
  margin-bottom: 2em;
}

.popup .login input,
.popup .login .button {
  width: 12em;
}





.createcard {
  height: 4.5em;
  line-height: 4.5em;
  border-radius: 3px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.33);
  background-color: #0397D6;

  vertical-align: middle;
  position: relative;
  text-transform: uppercase;
  text-align:center;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.createcard .svg {
  width: 1em;
}

.createcard a {
  color: white;
  text-decoration: none;
  vertical-align: middle;;
}
.createcard a:hover {
  text-decoration: underline;
}






.boardcard2 {
  color: rgb(162,205,232);
  background-color: rgb(237,244,247);
  margin-bottom: 0.5em;
  position: relative;
  height: 5em;
}

img.thumbs-up {
  width: 1.8em;
  cursor: pointer;
}

.boardcard2 .like {
  position: absolute;
  right: 0.375em;
  top: 0.5em;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  width: 2em;
}

.boardcard2 .like img.thumbs-up-clear,
.boardcard2 .like img.thumbs-up-filled {
  height: 2.3em;
}

.boardcard2 .like img.thumbs-up-filled {
  display: none;
}

.boardcard2 .unlike img.thumbs-up-filled {
  display: inline-block;
}
.boardcard2 .unlike img.thumbs-up-clear {
  display: none;
}

.boardcard2 .like .note {
}

.boardcard2 .like .count {
  color: #CCC;
  font-size: 1.4em;
}

.boardcard2 .bottom-ribbon {
  position: absolute;
  left: 12px;
  bottom: 5px;
}

.boardcard2 .bottom-ribbon .sltname,
.boardcard2 .bottom-ribbon .datecreated {
  display: inline-block;
}

.boardcard2 .bottom-ribbon .datecreated {
  margin-left: 1em;
}

.boardcard2 .question_summary {
  position: absolute;
  top: 7px;
  left: 12px;
  right: 20px;
  cursor: pointer;
  color: #1EAEDB;
  height: 3em;
  overflow-y: hidden;
}





input.searchcriteria::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #0397d6;
  }
input.searchcriteria::-moz-placeholder { /* Firefox 19+ */
  color: #0397d6;
  }
input.searchcriteria:-ms-input-placeholder { /* IE 10+ */
  color: #0397d6;
  }
input.searchcriteria:-moz-placeholder { /* Firefox 18- */
  color: #0397d6;
  }

.title {
  text-transform: uppercase;
  font-weight: bold;
  color: #666;
  margin-bottom: 0.5em;
}

.title svg,
.title .svg {
  width: 2.5em;
  margin-right: 0.375em;
  vertical-align: middle;
}

.board2 .createcard .question {
  width: 1em;
  color: white;
  vertical-align: middle;
}

.boardcard2 .bottom-ribbon {
  font-size: 0.8em;
}

.showpopup .navbar,
.showpopup .container header,
.showpopup .container .content
{
  opacity: 0.4;
}
